/*
font-family: 'ABeeZee', sans-serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
*/

body {
    font-family: 'Poppins', sans-serif;
}

/*HEADINGS*/
h1 {
    font-family: 'Permanent Marker', cursive;
    color: #457d58;
}
h2 {
    font-family: 'Permanent Marker', cursive;
}

h3 {
    font-family: 'Permanent Marker', cursive;
}
.col h3 {
    color: #457d58;
}
.thumbnail h3 {
    color: #457d58;
}
.tableh3 {
    color: #457d58;
}
.jumbotron {
    background-color: #A2BEAC;
}
.carousel-caption {
    color: white;
    background-color: rgba(0, 0, 0, .3);
    /* padding: 1em; */
    /* max-width: 80%; */
    border-radius: 5px;
}

/*NAV BAR*/
.navbar-brand {
    background-color:#457d58;
    font-family: 'Permanent Marker', cursive;
} 
.navbar-brand:hover {
    background-color: #A2BEAC;
}
.navbar-nav {
    font-family: 'Permanent Marker', cursive;
}
nav li a:hover {
    text-decoration: none;
    background-color: #A2BEAC;
    color: grey;
} 
nav li a:link {
    color: black;
    text-decoration: none;
}
nav li a:visited {
    color: black;
    text-decoration: none;
} 

/*CONTACT FORM*/
form input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
form input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; /*to center the submit button*/
    margin: auto; /*to center the submit button*/
}
form input[type=submit]:hover {
    background-color: #A2BEAC;
}
.contact {
    border-radius: 10px;
    background-color: #496f51;
    padding: 20px;
    width: 50%;
    margin-bottom: 10px;
    margin: auto;
    color: white;
}

/*FOOTER*/
footer {
    border-top: 2px solid grey;
    font-weight: bold;
    background-color: #496f51;
    font-family: 'Permanent Marker', cursive;
}
footer a {
    color: black;
    text-decoration: none;
    padding: 5px;
    font-size: large;
}

/*LINKS*/
table a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
    background-color: #A2BEAC;
}

/*MEDIA RESPONSIVENESS*/
@media only screen and (max-width: 480px) { 
    body { 
        background-color: lightsteelblue; 
    } 
    .contact {
        border-radius: 10px;
        background-color: #496f51;
        padding: 20px;
        width: 85%;
        margin-bottom: 10px;
        margin: auto;
        color: white;
    }
} 
@media only screen and (min-width: 481px) and (max-width: 768px) { 
    body { 
        background-color: lightgoldenrodyellow; 
    } 
    .contact {
        border-radius: 10px;
        background-color: #496f51;
        padding: 20px;
        width: 85%;
        margin-bottom: 10px;
        margin: auto;
        color: white;
    }
} 
@media only screen and (min-width: 769px) { 
    body { 
        background-color: white; 
    } 
} 