/*
font-family: 'ABeeZee', sans-serif; LOGO FONT
font-family: 'Arimo', sans-serif;
font-family: 'Economica', sans-serif;
*/

/* 
color: #457d58; LOGO COLOR NON-TRANSPARENT
color: #A2BEAC; LOGO COLOR TRANSPARENT

*/
body {
    font-family: 'ABeeZee', sans-serif;
}
/*HEADINGS*/
h1 {
    text-align: center;
    color: #457d58;
}
.col h2 {
    text-align: center;
}
.col h3 {
    color: #457d58;
    text-align: center;
}
.thumbnail h3 {
    color: #457d58;
}
.tableh3 {
    color: #457d58;
}
h4 {
    text-align: center;
    color: grey;
}
.jumbotron {
    text-align: center;
    background-color: #A2BEAC;
}
/* .jumbotron h2 {
    color: white;
} */
.btn:hover {
    background-color: #457d58;
}
.carousel-caption {
    color: black;
    font-weight: bold;
}

/*NAV BAR*/
.navbar-brand {
    background-color:#457d58;
} 
.navbar-brand:hover {
    background-color: #A2BEAC;
}
nav {
    /* background-color: #457d58; */
    /* border: 2px solid grey;
    border-radius: 10px;
    margin-bottom: 10px; */
    /* padding: 30px; */
    /* position: sticky; */
    /* top: 1px; */
    text-align: center;
}
nav li {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    font-family: 'ABeeZee', sans-serif;
    color: black;
}
nav li a:hover {
    text-decoration: none;
    background-color: #A2BEAC;
    color: grey;
} 
nav li a:link {
    color: black;
    text-decoration: none;
}
nav li a:visited {
    color: black;
    text-decoration: none;
} 

/*CONTACT FORM*/
form input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Economica', sans-serif;
}
form input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Economica', sans-serif;
    display: block; /*to center the submit button*/
    margin: auto; /*to center the submit button*/
}
form input[type=submit]:hover {
    background-color: #A2BEAC;
}
.contact {
    border-radius: 10px;
    background-color: #496f51;
    padding: 20px;
    width: 50%;
    margin-bottom: 10px;
    margin: auto;
    color: white;
    font-family: 'Economica', sans-serif;
}

/*FOOTER*/
footer {
    border-top: 2px solid grey;
    /* color: #496f51; */
    font-weight: bold;
    background-color: #A2BEAC;
}
footer a {
    color: black;
    text-decoration: none;
    padding: 5px;
    font-size: large;
}
table a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
    background-color:#A2BEAC;
}
/* footer .column {
    float: left;
    width: 50%;
}
footer .row {
    clear: both;
}
.col-left {
    text-align: left;
}
.col-right {
    text-align: right;
} */
/* footer .col {
    display: flex;
    justify-content: center;
    align-items: center;
} */
footer .brand {
    background-color: #457d58;
}

/*MEDIA RESPONSIVENESS*/
@media only screen and (max-width: 480px) { 
    body { 
        background-color: lightsteelblue; 
    } 
    .contact {
        border-radius: 10px;
        background-color: #496f51;
        padding: 20px;
        width: 85%;
        margin-bottom: 10px;
        margin: auto;
        color: white;
    }
} 
@media only screen and (min-width: 481px) and (max-width: 768px) { 
    body { 
        background-color: lightgoldenrodyellow; 
    } 
    .contact {
        border-radius: 10px;
        background-color: #496f51;
        padding: 20px;
        width: 85%;
        margin-bottom: 10px;
        margin: auto;
        color: white;
    }
} 
@media only screen and (min-width: 769px) { 
    body { 
        background-color: white; 
    } 
} 